<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongoose Dashboard</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Mongoose ID: <%= themongooses[0].id %></h1>
        <h4>Name: <%= themongooses[0].name %></h4>
        <h4>Age: <%= themongooses[0].age %></h4>
    
        <div class="centerdiv">
            <a href="/">See all Mongoose</a>
        </div>
    </div>

</body>
</html>